@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #555555;
    --laranja: #1f1d1a;
    --azul-degrade: linear-gradient(97.54deg, #201e1e 35.49%, #0000008a 165.37%);
    --fonte-pricipal: "Poppins";
    --azul: #212324;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
